[submodule "packages/securityteams321"]
	path = packages/securityteams321
	url = http://gitlab.lab321.ru/sugarcrm/securityteams321.git
[submodule "packages/sugarbeanmailer"]
	path = packages/sugarbeanmailer
	url = http://gitlab.lab321.ru/sugarcrm/sugarbeanmailer.git
[submodule "packages/yui_https_fixing"]
	path = packages/yui_https_fixing
	url = http://gitlab.lab321.ru/sugarcrm/yui_https_fixing.git
[submodule "packages/db_doms"]
	path = packages/db_doms
	url = http://gitlab.lab321.ru/sugarcrm/db_doms.git
[submodule "packages/addresses"]
	path = packages/addresses
	url = http://gitlab.lab321.ru/sugarcrm/addresses.git
[submodule "packages/addressessecurityteams"]
	path = packages/addressessecurityteams
	url = http://gitlab.lab321.ru/sugarcrm/addressessecurityteams.git
[submodule "packages/uniq_id_field"]
	path = packages/uniq_id_field
	url = http://gitlab.lab321.ru/sugarcrm/uniq_id_field.git
[submodule "packages/tasks_audit"]
	path = packages/tasks_audit
	url = http://gitlab.lab321.ru/sugarcrm/tasks_audit.git
[submodule "packages/accounts_rf_props_field"]
	path = packages/accounts_rf_props_field
	url = http://gitlab.lab321.ru/sugarcrm/accounts_rf_props_field.git
[submodule "packages/workflow_securitygroups"]
	path = packages/workflow_securitygroups
	url = http://gitlab.lab321.ru/sugarcrm/workflow_securitygroups.git
[submodule "packages/multienumfilter"]
	path = packages/multienumfilter
	url = http://gitlab.lab321.ru/sugarcrm/multienumfilter.git
[submodule "packages/contacts_passport_data"]
	path = packages/contacts_passport_data
	url = http://gitlab.lab321.ru/sugarcrm/contacts_passport_data.git
[submodule "packages/uralsib_timezone"]
	path = packages/uralsib_timezone
	url = http://gitlab.lab321.ru/uralsib/uralsib_timezone.git
[submodule "packages/insert_org_form_dom"]
	path = packages/insert_org_form_dom
	url = http://gitlab.lab321.ru/sugarcrm/insert_org_form_dom.git
[submodule "packages/tasks_workflow"]
	path = packages/tasks_workflow
	url = http://gitlab.lab321.ru/sugarcrm/tasks_workflow.git
[submodule "packages/uralsib_employees"]
	path = packages/uralsib_employees
	url = http://gitlab.lab321.ru/uralsib/uralsib_employees.git
[submodule "packages/uralsib_users"]
	path = packages/uralsib_users
	url = http://gitlab.lab321.ru/uralsib/uralsib_users.git
[submodule "packages/uralsib_core"]
	path = packages/uralsib_core
	url = http://gitlab.lab321.ru/uralsib/uralsib_core.git
[submodule "packages/actionsaudit"]
	path = packages/actionsaudit
	url = http://gitlab.lab321.ru/sugarcrm/actionsaudit.git
[submodule "packages/killsessionsjob"]
	path = packages/killsessionsjob
	url = http://gitlab.lab321.ru/sugarcrm/killsessionsjob.git
[submodule "packages/insert_okved_and_industry"]
	path = packages/insert_okved_and_industry
	url = http://gitlab.lab321.ru/uralsib/insert_okved_and_industry.git
[submodule "packages/uralsib_groups"]
	path = packages/uralsib_groups
	url = http://gitlab.lab321.ru/uralsib/uralsib_groups.git
[submodule "packages/workflow"]
	path = packages/workflow
	url = http://gitlab.lab321.ru/sugarcrm/workflow.git
[submodule "packages/uralsib_load"]
	path = packages/uralsib_load
	url = http://gitlab.lab321.ru/uralsib/uralsib_load.git
[submodule "packages/outcomebymonthgroupsdashlet"]
	path = packages/outcomebymonthgroupsdashlet
	url = http://gitlab.lab321.ru/sugarcrm/outcomebymonthgroupsdashlet.git
[submodule "packages/pipelinebysalesstagegroupsdashlet"]
	path = packages/pipelinebysalesstagegroupsdashlet
	url = http://gitlab.lab321.ru/sugarcrm/pipelinebysalesstagegroupsdashlet.git
[submodule "packages/uralsib_task_credit_work_wf"]
	path = packages/uralsib_task_credit_work_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_credit_work_wf.git
[submodule "packages/uralsib_account_task_wf"]
	path = packages/uralsib_account_task_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_task_wf.git
[submodule "packages/kreports"]
	path = packages/kreports
	url = http://gitlab.lab321.ru/sugarcrm/kreports.git
[submodule "packages/opportunities_workflow"]
	path = packages/opportunities_workflow
	url = http://gitlab.lab321.ru/sugarcrm/opportunities_workflow.git
[submodule "packages/uralsib_opp_credit_new_wf"]
	path = packages/uralsib_opp_credit_new_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_credit_new_wf.git
[submodule "packages/holdings"]
	path = packages/holdings
	url = http://gitlab.lab321.ru/uralsib/holdings.git
[submodule "packages/uralsib_calls"]
	path = packages/uralsib_calls
	url = http://gitlab.lab321.ru/uralsib/uralsib_calls.git
[submodule "packages/uralsib_meetings"]
	path = packages/uralsib_meetings
	url = http://gitlab.lab321.ru/uralsib/uralsib_meetings.git
[submodule "packages/holdingssecurityteams"]
	path = packages/holdingssecurityteams
	url = http://gitlab.lab321.ru/uralsib/holdingssecurityteams.git
[submodule "packages/uralsib_account_type_form"]
	path = packages/uralsib_account_type_form
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_type_form.git
[submodule "packages/uralsib_notes"]
	path = packages/uralsib_notes
	url = http://gitlab.lab321.ru/uralsib/uralsib_notes.git
[submodule "packages/securityforms"]
	path = packages/securityforms
	url = http://gitlab.lab321.ru/sugarcrm/securityforms.git
[submodule "packages/securitysettings"]
	path = packages/securitysettings
	url = http://gitlab.lab321.ru/uralsib/securitysettings.git
[submodule "packages/tasks_type"]
	path = packages/tasks_type
	url = http://gitlab.lab321.ru/sugarcrm/tasks_type.git
[submodule "packages/uralsib_tasks"]
	path = packages/uralsib_tasks
	url = http://gitlab.lab321.ru/uralsib/uralsib_tasks.git
[submodule "packages/uralsib_add_group_dib_svk"]
	path = packages/uralsib_add_group_dib_svk
	url = http://gitlab.lab321.ru/uralsib/uralsib_add_group_dib_svk.git
[submodule "packages/suminwordsfield"]
	path = packages/suminwordsfield
	url = http://gitlab.lab321.ru/sugarcrm/suminwordsfield.git
[submodule "packages/kreports_securitygroups"]
	path = packages/kreports_securitygroups
	url = http://gitlab.lab321.ru/uralsib/kreports_securitygroups.git
[submodule "packages/uralsib_securitydocumentation"]
	path = packages/uralsib_securitydocumentation
	url = http://gitlab.lab321.ru/uralsib/uralsib_securitydocumentation.git
[submodule "packages/securitydocumentations_workflow"]
	path = packages/securitydocumentations_workflow
	url = http://gitlab.lab321.ru/uralsib/securitydocumentations_workflow.git
[submodule "packages/limits"]
	path = packages/limits
	url = http://gitlab.lab321.ru/uralsib/limits.git
[submodule "packages/loans"]
	path = packages/loans
	url = http://gitlab.lab321.ru/uralsib/loans.git
[submodule "packages/tranches"]
	path = packages/tranches
	url = http://gitlab.lab321.ru/uralsib/tranches.git
[submodule "packages/uralsib_covenant"]
	path = packages/uralsib_covenant
	url = http://gitlab.lab321.ru/uralsib/uralsib_covenant.git
[submodule "packages/uralsib_insurances"]
	path = packages/uralsib_insurances
	url = http://gitlab.lab321.ru/uralsib/uralsib_insurances.git
[submodule "packages/securitydocumentationssecurityteams"]
	path = packages/securitydocumentationssecurityteams
	url = http://gitlab.lab321.ru/uralsib/securitydocumentationssecurityteams.git
[submodule "packages/multiparent"]
	path = packages/multiparent
	url = http://gitlab.lab321.ru/sugarcrm/multiparent.git
[submodule "packages/tranches_workflow"]
	path = packages/tranches_workflow
	url = http://gitlab.lab321.ru/uralsib/tranches_workflow.git
[submodule "packages/confirmations"]
	path = packages/confirmations
	url = http://gitlab.lab321.ru/uralsib/confirmations.git
[submodule "packages/confirmationssecurityteams"]
	path = packages/confirmationssecurityteams
	url = http://gitlab.lab321.ru/uralsib/confirmationssecurityteams.git
[submodule "packages/confirmations_workflow"]
	path = packages/confirmations_workflow
	url = http://gitlab.lab321.ru/uralsib/confirmations_workflow.git
[submodule "packages/uralsib_fakecron"]
	path = packages/uralsib_fakecron
	url = http://gitlab.lab321.ru/uralsib/uralsib_fakecron.git
[submodule "packages/accounts_subpanels"]
	path = packages/accounts_subpanels
	url = http://gitlab.lab321.ru/uralsib/accounts_subpanels.git
[submodule "packages/boolcheckboxfield"]
	path = packages/boolcheckboxfield
	url = http://gitlab.lab321.ru/sugarcrm/boolcheckboxfield.git
[submodule "packages/uralsib_mergerecords"]
	path = packages/uralsib_mergerecords
	url = http://gitlab.lab321.ru/uralsib/uralsib_mergerecords.git
[submodule "packages/uralsib_accounts"]
	path = packages/uralsib_accounts
	url = http://gitlab.lab321.ru/uralsib/uralsib_accounts.git
[submodule "packages/customdashletgeneric"]
	path = packages/customdashletgeneric
	url = http://gitlab.lab321.ru/sugarcrm/customdashletgeneric.git
[submodule "packages/uralsib_securitydocumentations_custom"]
	path = packages/uralsib_securitydocumentations_custom
	url = http://gitlab.lab321.ru/uralsib/uralsib_securitydocumentations_custom.git
[submodule "packages/hs321widgets"]
	path = packages/hs321widgets
	url = http://gitlab.lab321.ru/sugarcrm/hs321widgets.git
[submodule "packages/uralsib_tranches"]
	path = packages/uralsib_tranches
	url = http://gitlab.lab321.ru/uralsib/uralsib_tranches.git
[submodule "packages/uralsib_sendemail"]
	path = packages/uralsib_sendemail
	url = http://gitlab.lab321.ru/uralsib/uralsib_sendemail.git
[submodule "packages/uralsib_confirmations_for_tranches_wf"]
	path = packages/uralsib_confirmations_for_tranches_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_confirmations_for_tranches_wf.git
[submodule "packages/tftemplates"]
	path = packages/tftemplates
	url = http://gitlab.lab321.ru/uralsib/tftemplates.git
[submodule "packages/uralsib_opportunities"]
	path = packages/uralsib_opportunities
	url = http://gitlab.lab321.ru/uralsib/uralsib_opportunities.git
[submodule "packages/uralsib_form"]
	path = packages/uralsib_form
	url = http://gitlab.lab321.ru/uralsib/uralsib_form.git
[submodule "packages/uralsib_roles"]
	path = packages/uralsib_roles
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles.git
[submodule "packages/logic"]
	path = packages/logic
	url = http://gitlab.lab321.ru/sugarcrm/logic.git
[submodule "packages/uralsib_report_pack"]
	path = packages/uralsib_report_pack
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_pack.git
[submodule "packages/uralsib_confirmations"]
	path = packages/uralsib_confirmations
	url = http://gitlab.lab321.ru/uralsib/uralsib_confirmations.git
[submodule "packages/branches"]
	path = packages/branches
	url = http://gitlab.lab321.ru/uralsib/branches.git
[submodule "packages/uralsib_branches_data"]
	path = packages/uralsib_branches_data
	url = http://gitlab.lab321.ru/uralsib/uralsib_branches_data.git
[submodule "packages/uralsib_account_task_wf_upgrade"]
	path = packages/uralsib_account_task_wf_upgrade
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_task_wf_upgrade.git
[submodule "packages/uralsib_accounts_with_segmentation"]
	path = packages/uralsib_accounts_with_segmentation
	url = http://gitlab.lab321.ru/uralsib/uralsib_accounts_with_segmentation.git
[submodule "packages/uralsib_limits"]
	path = packages/uralsib_limits
	url = http://gitlab.lab321.ru/uralsib/uralsib_limits.git
[submodule "packages/uralsib_securityteams321_override"]
	path = packages/uralsib_securityteams321_override
	url = http://gitlab.lab321.ru/uralsib/uralsib_securityteams321_override.git
[submodule "packages/uralsib_opp_credit_new_wf_update1"]
	path = packages/uralsib_opp_credit_new_wf_update1
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_credit_new_wf_update1.git
[submodule "packages/uralsib_sdocumentation_confirm_wf"]
	path = packages/uralsib_sdocumentation_confirm_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_sdocumentation_confirm_wf.git
[submodule "packages/uralsib_discount_task_wf"]
	path = packages/uralsib_discount_task_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_discount_task_wf.git
[submodule "packages/uralsib_report_insurances"]
	path = packages/uralsib_report_insurances
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_insurances.git
[submodule "packages/treegrid"]
	path = packages/treegrid
	url = http://gitlab.lab321.ru/sugarcrm/treegrid.git
[submodule "packages/maskinput"]
	path = packages/maskinput
	url = http://gitlab.lab321.ru/sugarcrm/maskinput.git
[submodule "packages/uralsib_tranche_confirm_wf"]
	path = packages/uralsib_tranche_confirm_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_tranche_confirm_wf.git
[submodule "packages/sugarftshooks"]
	path = packages/sugarftshooks
	url = http://gitlab.lab321.ru/sugarcrm/sugarftshooks.git
[submodule "packages/financialparams"]
	path = packages/financialparams
	url = http://gitlab.lab321.ru/uralsib/financialparams.git
[submodule "packages/uralsib_task_credit_work_wf_update1"]
	path = packages/uralsib_task_credit_work_wf_update1
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_credit_work_wf_update1.git
[submodule "packages/testphpmailer"]
	path = packages/testphpmailer
	url = http://gitlab.lab321.ru/sugarcrm/testphpmailer.git
[submodule "packages/uralsib_test_users"]
	path = packages/uralsib_test_users
	url = http://gitlab.lab321.ru/uralsib/uralsib_test_users.git
[submodule "packages/uralsib_js"]
	path = packages/uralsib_js
	url = http://gitlab.lab321.ru/uralsib/uralsib_js.git
[submodule "packages/uralsib_config"]
	path = packages/uralsib_config
	url = http://gitlab.lab321.ru/uralsib/uralsib_config.git
[submodule "packages/uralsib_load_patch"]
	path = packages/uralsib_load_patch
	url = http://gitlab.lab321.ru/uralsib/uralsib_load_patch.git
[submodule "packages/uralsib_report_roles"]
	path = packages/uralsib_report_roles
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_roles.git
[submodule "packages/uralsib_report_holdings"]
	path = packages/uralsib_report_holdings
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_holdings.git
[submodule "packages/uralsib_contacts"]
	path = packages/uralsib_contacts
	url = http://gitlab.lab321.ru/uralsib/uralsib_contacts.git
[submodule "packages/uralsib_documents"]
	path = packages/uralsib_documents
	url = http://gitlab.lab321.ru/uralsib/uralsib_documents.git
[submodule "packages/uralsib_guarantees"]
	path = packages/uralsib_guarantees
	url = http://gitlab.lab321.ru/uralsib/uralsib_guarantees.git
[submodule "packages/uralsib_tasks_workflow"]
	path = packages/uralsib_tasks_workflow
	url = http://gitlab.lab321.ru/uralsib/uralsib_tasks_workflow.git
[submodule "packages/uralsib_report_accounts"]
	path = packages/uralsib_report_accounts
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_accounts.git
[submodule "packages/uralsib_report_pipeline"]
	path = packages/uralsib_report_pipeline
	url = http://gitlab.lab321.ru/uralsib/uralsib_report_pipeline.git
[submodule "packages/tasks_type_1"]
	path = packages/tasks_type_1
	url = http://gitlab.lab321.ru/sugarcrm/tasks_type.git
[submodule "packages/uralsib_roles_2_7"]
	path = packages/uralsib_roles_2_7
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_2_7.git
[submodule "packages/workflowformfieldslists"]
	path = packages/workflowformfieldslists
	url = http://gitlab.lab321.ru/uralsib/workflowformfieldslists.git
[submodule "packages/uralsib_opp_credit_new_wf_update2"]
	path = packages/uralsib_opp_credit_new_wf_update2
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_credit_new_wf_update2.git
[submodule "packages/uralsib_task_credit_kssa_wf"]
	path = packages/uralsib_task_credit_kssa_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_credit_kssa_wf.git
[submodule "packages/uralsib_task_pre_class_wf"]
	path = packages/uralsib_task_pre_class_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_pre_class_wf.git
[submodule "packages/uralsib_task_srm_wf"]
	path = packages/uralsib_task_srm_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_srm_wf.git
[submodule "packages/uralsib_task_credit_work_wf_update2"]
	path = packages/uralsib_task_credit_work_wf_update2
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_credit_work_wf_update2.git
[submodule "packages/uralsib_wf_update1"]
	path = packages/uralsib_wf_update1
	url = http://gitlab.lab321.ru/uralsib/uralsib_wf_update1.git
[submodule "packages/uralsib_account_task_wf_upgrade2"]
	path = packages/uralsib_account_task_wf_upgrade2
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_task_wf_upgrade2.git
[submodule "packages/audit_description"]
	path = packages/audit_description
	url = http://gitlab.lab321.ru/sugarcrm/audit_description.git
[submodule "packages/uralsib_holdings"]
	path = packages/uralsib_holdings
	url = http://gitlab.lab321.ru/uralsib/uralsib_holdings.git
[submodule "packages/uralsib_login_notice"]
	path = packages/uralsib_login_notice
	url = http://gitlab.lab321.ru/uralsib/uralsib_login_notice.git
[submodule "packages/uralsib_account_task_wf_upgrade3"]
	path = packages/uralsib_account_task_wf_upgrade3
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_task_wf_upgrade3.git
[submodule "packages/subpanel_mass_remove"]
	path = packages/subpanel_mass_remove
	url = http://gitlab.lab321.ru/sugarcrm/subpanel_mass_remove.git
[submodule "autotests"]
	path = autotests
	url = http://gitlab.lab321.ru/uralsib/autotests.git
[submodule "packages/uralsib_opp_task_wf_upgrade"]
	path = packages/uralsib_opp_task_wf_upgrade
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_task_wf_upgrade.git
[submodule "packages/uralsib_opp_task_wf_upgrade2"]
	path = packages/uralsib_opp_task_wf_upgrade2
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_task_wf_upgrade2.git
[submodule "packages/data_generator"]
	path = packages/data_generator
	url = http://gitlab.lab321.ru/sugarcrm/data_generator.git
[submodule "packages/uralsib_data_generator"]
	path = packages/uralsib_data_generator
	url = http://gitlab.lab321.ru/uralsib/uralsib_data_generator.git
[submodule "packages/uralsib_task_wf_upgrade3"]
	path = packages/uralsib_task_wf_upgrade3
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_wf_upgrade3.git
[submodule "packages/products"]
	path = packages/products
	url = http://gitlab.lab321.ru/uralsib/products.git
[submodule "packages/treatments"]
	path = packages/treatments
	url = http://gitlab.lab321.ru/uralsib/treatments.git
[submodule "packages/uralsib_insert_sync_integro"]
	path = packages/uralsib_insert_sync_integro
	url = http://gitlab.lab321.ru/uralsib/uralsib_insert_sync_integro.git
[submodule "packages/responses"]
	path = packages/responses
	url = http://gitlab.lab321.ru/uralsib/responses.git
[submodule "packages/uralsib_opp_task_wf_upgrade3"]
	path = packages/uralsib_opp_task_wf_upgrade3
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_task_wf_upgrade3.git
[submodule "packages/integro_test_tables"]
	path = packages/integro_test_tables
	url = http://gitlab.lab321.ru/uralsib/integro_test_tables.git
[submodule "packages/uralsib_roles_2_11"]
	path = packages/uralsib_roles_2_11
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_2_11.git
[submodule "packages/bizdayscalendar"]
	path = packages/bizdayscalendar
	url = http://gitlab.lab321.ru/sugarcrm/bizdayscalendar.git
[submodule "packages/uralsib_opp_task_wf_upgrade4"]
	path = packages/uralsib_opp_task_wf_upgrade4
	url = http://gitlab.lab321.ru/uralsib/uralsib_opp_task_wf_upgrade4.git
[submodule "packages/select2"]
	path = packages/select2
	url = http://gitlab.lab321.ru/sugarcrm/select2.git
[submodule "packages/uralsib_task_pr_wf"]
	path = packages/uralsib_task_pr_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_pr_wf.git
[submodule "packages/uralsib_leads"]
	path = packages/uralsib_leads
	url = http://gitlab.lab321.ru/uralsib/uralsib_leads.git
[submodule "packages/uralsib_roles_3_3"]
	path = packages/uralsib_roles_3_3
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_3.git
[submodule "packages/uralsib_task_pr_wf_update1"]
	path = packages/uralsib_task_pr_wf_update1
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_pr_wf_update1.git
[submodule "packages/response_integration"]
	path = packages/response_integration
	url = http://gitlab.lab321.ru/uralsib/response_integration.git
[submodule "packages/product_testimonials"]
	path = packages/product_testimonials
	url = http://gitlab.lab321.ru/uralsib/product_testimonials.git
[submodule "packages/subpanel_mass_download"]
	path = packages/subpanel_mass_download
	url = http://gitlab.lab321.ru/sugarcrm/subpanel_mass_download.git
[submodule "packages/uralsib_upgrade_ssb_to_sb"]
	path = packages/uralsib_upgrade_ssb_to_sb
	url = http://gitlab.lab321.ru/uralsib/uralsib_upgrade_ssb_to_sb.git
[submodule "packages/uralsib_roles_3_5"]
	path = packages/uralsib_roles_3_5
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_5.git
[submodule "packages/uralsib_account_task_wf_upgrade4"]
	path = packages/uralsib_account_task_wf_upgrade4
	url = http://gitlab.lab321.ru/uralsib/uralsib_account_task_wf_upgrade4.git
[submodule "packages/uralsib_task_wf_upgrade4"]
	path = packages/uralsib_task_wf_upgrade4
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_wf_upgrade4.git
[submodule "packages/multiform"]
	path = packages/multiform
	url = http://gitlab.lab321.ru/sugarcrm/multiform.git
[submodule "packages/opportunity_products"]
	path = packages/opportunity_products
	url = http://gitlab.lab321.ru/uralsib/opportunity_products.git
[submodule "packages/create_opp_products"]
	path = packages/create_opp_products
	url = http://gitlab.lab321.ru/uralsib/create_opp_products.git
[submodule "packages/uralsib_task_pr_wf_update2"]
	path = packages/uralsib_task_pr_wf_update2
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_pr_wf_update2.git
[submodule "packages/rsorders"]
	path = packages/rsorders
	url = http://gitlab.lab321.ru/uralsib/rsorders.git
[submodule "packages/rf_orgs_fields"]
	path = packages/rf_orgs_fields
	url = http://gitlab8.lab321.ru/suitecrm/rf_orgs_fields.git
[submodule "packages/uralsib_rsorders_confirm_wf"]
	path = packages/uralsib_rsorders_confirm_wf
	url = http://gitlab.lab321.ru/uralsib/uralsib_rsorders_confirm_wf.git
[submodule "packages/rsorders_workflow"]
	path = packages/rsorders_workflow
	url = http://gitlab.lab321.ru/uralsib/rsorders_workflow.git
[submodule "packages/uralsib_roles_3_7"]
	path = packages/uralsib_roles_3_7
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_7.git
[submodule "packages/licenses"]
	path = packages/licenses
	url = http://gitlab.lab321.ru/sugarcrm/licenses.git
[submodule "packages/scorings"]
	path = packages/scorings
	url = http://gitlab.lab321.ru/uralsib/scoring.git
[submodule "packages/uralsib_roles_3_7_3"]
	path = packages/uralsib_roles_3_7_3
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_7_3.git
[submodule "packages/increase_custom_version"]
	path = packages/increase_custom_version
	url = http://gitlab.lab321.ru/sugarcrm/increase_custom_version.git
[submodule "packages/uralsib_history_communications_subpanel"]
	path = packages/uralsib_history_communications_subpanel
	url = http://gitlab.lab321.ru/uralsib/uralsib_history_communications_subpanel.git
[submodule "packages/uralsib_licenses"]
	path = packages/uralsib_licenses
	url = http://gitlab.lab321.ru/uralsib/uralsib_licenses.git
[submodule "packages/spark"]
	path = packages/spark
	url = http://gitlab.lab321.ru/uralsib/spark.git
[submodule "packages/licenses_securityteams"]
	path = packages/licenses_securityteams
	url = http://gitlab.lab321.ru/uralsib/licenses_securityteams.git
[submodule "packages/agents"]
	path = packages/agents
	url = http://gitlab.lab321.ru/uralsib/agents.git
[submodule "packages/uralsib_insert_agents"]
	path = packages/uralsib_insert_agents
	url = http://gitlab.lab321.ru/uralsib/uralsib_insert_agents.git
[submodule "packages/uralsib_roles_3_7_5"]
	path = packages/uralsib_roles_3_7_5
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_7_5.git
[submodule "packages/uralsib_soap"]
	path = packages/uralsib_soap
	url = http://gitlab.lab321.ru/uralsib/uralsib_soap.git
[submodule "packages/profits"]
	path = packages/profits
	url = http://gitlab.lab321.ru/uralsib/profits.git
[submodule "packages/contracts"]
	path = packages/contracts
	url = http://gitlab.lab321.ru/uralsib/contracts.git
[submodule "packages/uralsib_roles_3_9_1"]
	path = packages/uralsib_roles_3_9_1
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_9_1.git
[submodule "packages/rsorders_tftemplates"]
	path = packages/rsorders_tftemplates
	url = http://gitlab.lab321.ru/uralsib/rsorders_tftemplates.git
[submodule "packages/groups_shifrs_data"]
	path = packages/groups_shifrs_data
	url = http://gitlab.lab321.ru/uralsib/groups_shifrs_data.git
[submodule "packages/kih"]
	path = packages/kih
	url = http://gitlab.lab321.ru/uralsib/kih.git
[submodule "packages/uralsib_okopf"]
	path = packages/uralsib_okopf
	url = http://gitlab.lab321.ru/uralsib/uralsib_okopf.git
[submodule "packages/opportunities_salary"]
	path = packages/opportunities_salary
	url = http://gitlab.lab321.ru/uralsib/opportunities_salary.git
[submodule "packages/uralsib_roles_3_8_1"]
	path = packages/uralsib_roles_3_8_1
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_8_1.git
[submodule "packages/importantdates"]
	path = packages/importantdates
	url = http://gitlab.lab321.ru/uralsib/importantdates.git
[submodule "packages/packages/relationship_email"]
	path = packages/packages/relationship_email
	url = http://gitlab.lab321.ru/uralsib/relationship_email.git
[submodule "packages/uralsib_roles_3_8_2"]
	path = packages/uralsib_roles_3_8_2
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_8_2.git
[submodule "packages/longlists"]
	path = packages/longlists
	url = http://gitlab.lab321.ru/uralsib/longlists.git
[submodule "packages/uralsib_task_credit_work_wf_update3"]
	path = packages/uralsib_task_credit_work_wf_update3
	url = http://gitlab.lab321.ru/uralsib/uralsib_task_credit_work_wf_update3.git
[submodule "packages/uralsib_roles_3_9_2"]
	path = packages/uralsib_roles_3_9_2
	url = http://gitlab.lab321.ru/uralsib/uralsib_roles_3_9_2.git
[submodule "packages/relationship_email"]
	path = packages/relationship_email
	url = http://gitlab.lab321.ru/uralsib/relationship_email.git
[submodule "packages/labelloginformtest"]
	path = packages/labelloginformtest
	url = http://gitlab.lab321.ru/uralsib/labelloginformtest.git
[submodule "packages/uralsib_rsorders_confirm_wf2"]
	path = packages/uralsib_rsorders_confirm_wf2
	url = http://gitlab.lab321.ru/uralsib/uralsib_rsorders_confirm_wf2.git
[submodule "packages/dummy_kih"]
	path = packages/dummy_kih
	url = http://gitlab.lab321.ru/uralsib/dummy_kih.git
[submodule "packages/dbappliststrings"]
	path = packages/dbappliststrings
	url = http://gitlab.lab321.ru/sugarcrm/dbappliststrings.git
[submodule "packages/dbgit"]
	path = packages/dbgit
	url = http://gitlab.lab321.ru/sugarcrm/dbgit.git
[submodule "dbdata"]
	path = dbdata
	url = https://gitlab.fc.uralsibbank.ru/sugar/dbdata.git
