[submodule "packages/ru"]
	path = packages/ru
	url = https://github.com/nlv/suitecrm_ru_7_10.git
[submodule "packages/fias"]
	path = packages/fias
	url = https://gitlab.lab321.ru/sugarcrm/fias.git
[submodule "packages/fiasaddr"]
	path = packages/fiasaddr
	url = https://gitlab.lab321.ru/sugarcrm/fiasaddr.git
[submodule "packages/addressfias"]
	path = packages/addressfias
	url = https://gitlab.lab321.ru/sugarcrm/addressfias.git
